.signup{
  width: 700px;
  border-radius: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.inp{ 
  width: 50%;
  border-radius: 10px;
  border: none;
  font-size: 22px; 
}
.button{
  font-size: 18px;
  background-color: grey;
  color: white;
  border-radius: 10px;
  padding: 5px 12px;
}  
.details a{
  text-decoration: none;
  font-size: 18px;
  color:antiquewhite;
}
body{ 
  background: radial-gradient(circle,rgba(42, 123, 155, 1) 7%, rgba(80, 186, 137, 1) 43%, rgba(87, 199, 133, 1) 64%, rgba(228, 220, 86, 1) 98%, rgba(237, 221, 83, 1) 100%);
}
.todo-input{
  width: 90%;
  padding: 10px 20px;
  /* border: none;  */
  font-size: 20px;
} 
.icons{
  font-size: 22px;
}